Flader/
Tolkningspunkter/
Vendsyssel/
Kriging mappe/UsikkerhedsTemaer/
ModeValues/
Kriging/
mean_model/
Kriging mappe/
Geofysik/

Fyn_peatland_snaps.mat
LayerStructs_Fyn.mat
nothick_wells.mat
MEP_themes_Fyn.mat
PACEP_themes_Fyn.mat
SkyTEM_themes_Fyn.mat
plotting_Fyn.mat
Jylland_peatland_snaps.mat
BeforeKrigingWorkSpace29-Jun-2023_Fyn.mat

BeforeKrigingWorkSpace30-Jun-2023_Fyn.mat
ModeValues/ClusterindexModeSillRange_Fyn_Layer_11.mat



PACEP_themes_Jylland.mat
MEP_themes_Jylland.mat
SkyTEM_themes_Jylland.mat
WELLS_themes_Jylland.mat
LayerStructs_Jylland_230827.mat
LayerStructs_Jylland.mat
PACES_themes_Jylland.mat
RESLOG_themes_Jylland.mat
REFSEIS_themesJylland.mat
GAMMALOG_themes_Jylland.mat
fewTEM_themesJylland.mat
manyTEM_themesJylland.mat
tTEM_themes_Jylland.mat
plotting_Jylland.mat
PL_themes_Jylland.mat
*.mat
*.asv
*.asc
*.asv
